.footer {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	bottom: 0;
	height: 150px;
	background-color: #4b4b4b;
	width: 100%;
	align-content: center;
	padding: 1px;
	left: 0;
}
a.ex1:hover {
	filter: invert(50%) sepia(97%) saturate(1807%) hue-rotate(176deg) brightness(98%) contrast(93%);
}
a.ex2:hover {
	filter: invert(26%) sepia(65%) saturate(1887%) hue-rotate(256deg) brightness(92%) contrast(92%);
}
a.ex3:hover {
	filter: invert(100%) sepia(10%) saturate(7447%) hue-rotate(133deg) brightness(113%) contrast(50%);
}
a.ex4:hover {
	filter: invert(27%) sepia(100%) saturate(1523%) hue-rotate(177deg) brightness(90%) contrast(89%);
}
.twitter {
	height: 50px;
	width: 50px;
}
.linkedIn {
	height: 50px;
	width: 50px;
}
.instagram {
	height: 50px;
	width: 50px;
}
.gitHub {
	height: 50px;
	width: 50px;
}
